@charset "utf-8";




.h1-first {

    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-left: -20px;
    padding: 15px 20px;


    font-size: 1.6rem;

    color: #000;
    text-shadow: 3px 3px 3px rgba(255, 255, 255, .8);
    background: -webkit-linear-gradient(#ff4d55, #ffc18b);
    background: linear-gradient(#ff4d55 , #ffc18b);

    border-style: solid;
    border-width: 3px;
    border-color: #0F276C;

    -moz-border-radius: 10px;/*for Firefox*/
    -webkit-border-radius: 10px;/*for Safari and chrome*/
    border-radius: 10px;
}
